/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);

  /* variables custom par moi */
  --vt-c-custom-dark-1: #222538;
  --vt-c-custom-text-1: #81aaff;
  --vt-c-custom-text-2: #e27e7f;
}

/* semantic color variables for this project */
@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-custom-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.text-highlight-1 {
  color: var(--vt-c-custom-text-1)
}

.text-highlight-2 {
  color: var(--vt-c-custom-text-2)
}

.default-text {
  font-size: 19px;
}

.section-title {
  text-transform: uppercase;
  text-decoration: underline;
  font-size: 28px;
  font-weight: bold;
  text-underline-offset: 10px;
  margin-bottom: 20px;
}