@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  width: 100%;
  padding: 10px;
  padding-top: 90px;
}

@media screen and (max-width: 905px) {
  #app {
    padding: 20px;
    padding-top: 80px;
  }
}
